services:
  flask-api:
    image: vijethegde/fake_review_api:latest
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=production
    restart: always
